$gray: #3F3F3F;
.container {
	background-color: $gray;
	& nav {
		display: flex;
		flex-direction: column;
		background-color: lighten($gray, 20%);
	}
}

.user-div {
	padding: 30px 80px;
	background: #fff url('avatar.png') left center no-repeat;
}